@font-face {
  font-family: Seg_Bold;
  src: url(/css/fonts/segoeuib.ttf);
}
@font-face {
  font-family: Seg_Reg;
  src: url(/css/fonts/segoeui.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox;
  border: red solid 1px;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.xtraB {
  margin-bottom: 85px;
}

.margin {
  width: 85vw;
  margin: 0 auto;
}

.displayCase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.displayCaseItem .itemInfo {
  font-family: Seg_Reg;
  font-size: 12px;
}
.displayCaseItem .itemInfo .price {
  font-family: Seg_Bold;
  font-size: 16px;
  margin-bottom: 25px;
}
.displayCaseItem .itemInfo .addBtn {
  height: 50px;
  width: 75%;
  border: rgb(0, 0, 0) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  margin-bottom: 75px;
  /* keep this margin bottom to keep spacing even accross all pages */
  background-color: cornflowerblue;
  height: 100px;
}

footer {
  margin-top: 130px;
  /* keep this margin top to keep spacing even accross all pages */
  height: 90px;
  background-color: rgb(88, 124, 131);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Seg_Reg;
  color: rgb(255, 255, 255);
}
footer div {
  width: 20%;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: capitalize;
}
footer .links a:hover {
  text-decoration: underline;
}
footer .socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .socials i {
  color: rgb(255, 255, 255);
}

section.home {
  /* see banner.scss for page banner */
}
section.home .displayCase .displayCaseItem {
  /* display featured books on homepage */
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
section.home .displayCase .displayCaseItem img {
  height: 300px;
  margin-bottom: 25px;
}
section.home .displayCase .displayCaseItem .itemInfo {
  text-align: center;
}
section.home .displayCase .displayCaseItem .itemInfo .addBtn {
  margin: 0 auto;
}

/* ipad */
@media screen and (max-width: 768px) {
  section.home .displayCase {
    flex-direction: column;
  }
  section.home .displayCase .displayCaseItem {
    width: 65%;
  }
  section.home .displayCase .displayCaseItem img {
    height: 250px;
  }
  section.home .displayCase > *:not(:last-child) {
    margin-bottom: 50px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  section.home .displayCase .displayCaseItem {
    width: 65%;
  }
  section.home .displayCase .displayCaseItem img {
    height: 150px;
  }
}
section.about {
  font-family: Seg_Bold;
}
section.about .row {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.about .row div {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.about .row div.photo {
  width: 24%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.about .row div.owner {
  background-image: url(../images/about-photo.jpg);
}
section.about .row div.store {
  background-image: url(../images/about-photo-two.jpg);
}
section.about .row div.right {
  width: 70%;
}
section.about .row div.right h1 {
  text-transform: uppercase;
  font-size: 32px;
}
section.about .row div.right h6 {
  text-transform: capitalize;
  font-size: 26px;
}
section.about .row div.right p {
  font-size: 16px;
}

section.books .row {
  padding-bottom: 50px;
}
section.books .row h1 {
  margin-bottom: 25px;
  font-family: Seg_Bold;
}
section.books .row .displayCase .displayCaseItem {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
section.books .row .displayCase .displayCaseItem img {
  height: 250px;
}
section.books .row .displayCase .displayCaseItem img.bookset {
  width: 165px;
  height: 100%;
}
section.books .row .displayCase .displayCaseItem .itemInfo {
  width: 48%;
}
section.books .row .displayCase .displayCaseItem .itemInfo p {
  text-align: left;
}

section.books > *:not(:last-child) {
  margin-bottom: 50px;
}

.banner {
  width: 90%;
  height: 280px;
  margin: 0 auto 100px;
  background-color: rgb(88, 124, 131);
  position: relative;
}
.bannerStyle {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerHome {
  background-image: linear-gradient(45deg, rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
}
.bannerWords {
  position: absolute;
  top: 35%;
  right: 15%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.bannerWords span {
  text-transform: uppercase;
  font-size: 24px;
  font-family: Seg_Bold;
}
.bannerWords .emph {
  font-size: 14px;
  font-family: Seg_Bold;
}

/* ipad */
@media screen and (max-width: 768px) {
  .bannerStyle {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 45%;
  }
  .bannerHome {
    background-image: url(../images/home-hero.jpg);
  }
  .bannerWords span {
    font-size: 12px;
  }
  .bannerWords .emph {
    font-size: 7px;
    margin-top: 15px;
  }
}
/* mobile */
@media screen and (max-width: 400px) {
  .bannerStyle {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 60%;
    width: 45%;
  }
  .bannerHome {
    background-image: url(../images/home-hero.jpg);
  }
  .bannerWords {
    right: 10%;
  }
  .bannerWords span {
    font-size: 12px;
  }
  .bannerWords .emph {
    font-size: 7px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
