section.about {

    .row {
        height: 350px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border: red solid 1px;

        div {
            height: 100%;

            display: flex;
            align-items: center;
            // justify-content: space-around;
            flex-direction: column;
            top: 0;



            &.photo {
                width: 24%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &.owner {
                background-image: url(../images/about-photo.jpg);
            }

            &.store {
                background-image: url(../images/about-photo-two.jpg);
            }

            &.right {
                width: 70%;

                h1 {
                    text-transform: uppercase;
                    font-size: 32px;
                }

                h6 {
                    text-transform: capitalize;
                    font-size: 26px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

}