.bookclub{
    margin-top: 172px;
    height: 1888px;
    margin-top: 172px;


    .hero{
        width: 1464px;
        height: 463px;
        // background-color: pink;
        margin: 0 auto;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .stuff{
        display: flex;
        width: 1552px;
        height: 700px;

    }
}
