section.books {
    .row {
        padding-bottom: 50px;

        h1 {
            margin-bottom: 25px;
            font-family: Seg_Bold;
        }

        .displayCase .displayCaseItem {
            width: 30%;

            display: flex;
            justify-content: space-between;


            img {
                width: 45%;
            }

            img.bookset {
                width: 165px;
                height: 100%;
            }

            .itemInfo {
                width: 48%;

                p {
                    text-align: left;
                }
            }
        }
    }

}

section.books>*:not(:last-child) {
    margin-bottom: 50px;
}