.cart{
    height: 1888px;
    width: 1920px;
    background-color: white;


    .content{
        margin-top: 152px;
        width: 406px;
        height: 317px;
        .img{
            height: 317px;
            width: 205px;
            
            img{
                height: 100%;
                width: 100%;
            }
        }


    }

}