footer {
    margin-top: 130px;
    /* keep this margin top to keep spacing even accross all pages */
    height: 90px;
    background-color: rgb(88, 124, 131);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-family: Seg_Reg;
    color: #fff;

    div {
        width: 20%;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .social {
            height: 45px;
            width: 45px;
            background-color: #fff;
            margin-left: 15px;
        }
    }
}