section.home {

    /* see banner.scss for page banner */

    .displayCase .displayCaseItem {
        /* display featured books on homepage */
        width: 25%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        img,
        .cover {
            height: 300px;
            width: 70%;
            margin-bottom: 25px;
        }

        .itemInfo {
            text-align: center;

            .addBtn {
                margin: 0 auto;
            }
        }
    }
}