nav {
  height: 100px;
  background-color: #bbbb;
}
.margin {
}

.logo {
  height: 53px;
  width: 53px;
  background-color: black;
}
.search {
}
.links {
  display: flex;
  justify-content: space-evenly;
}
