* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

.xtraB {
    margin-bottom: 85px;
}

.margin {
    width: 75vw;
    margin: 0 auto;
}

.displayCase {
    background-color: lightsalmon;

    display: flex;
    align-items: center;
    justify-content: space-between;


    &Item {
        height: 300px;
        width: 25%;
        background-color: moccasin;
    }
}